tmp/
config/
config/secrets.yml
.DS_Store
*/.DS_Store
*/*/.DS_Store
.idea
project/
framebit.iml
target/resolution-cache/
target/streams/
target/.history
src/
target/
_site
.sass-cache
.jekyll-metadata
*.xcf
picture-workspace/
/content/images/giant-paintings/

# For Pelican
output
*.pyc
*.pid

# My stuff
content-for-reference
venv/
_layouts

theme/static/css/main\.css\.map

theme/static/css/output\.css\.map

theme/static/css/output\.css
node_modules
