{% extends "base.html" %}
{% block content %}

    <h2> this is my art cool stuff kthnxbi </h2>

    {% for page in pages %}
        {% if page.tags %}
            {% for tag in page.tags %}
                {% if "painting" in tag.name %}
                    <div class="project ">
                        <div class="thumbnail">
                            <a href="{{ page.url }}">
                                {% if page.img %}
                                <img src="{{ page.img }}"/>
                                {% endif %}
                                <span>
                                    <h1>{{ page.title }}</h1>
                                    <br/>
                                    <p>{{ page.date }}</p>

                                    <p>{{ page.description }}</p>
                                </span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
