{% extends "page.html" %}
{% block content %}

    <h2> this is my art cool stuff kthnxbi </h2>
    {% for project in pages.paintings %}

    {% if project.redirect %}
    <div class="project">
        <div class="thumbnail">
            <a href="{{ project.redirect }}" target="_blank">
                {% if project.thumbnailimg %}
                <img class="thumbnail" src="{{ project.thumbnailimg }}"/>
                {% elif project.img %}
                <img class="thumbnail" src="{{ project.img }}"/>
                {% else %}
                <div class="thumbnail blankbox"></div>
                {% endif %}
                <span>
                <h1>{{ project.title }}</h1>
                <br/>
                <p>{{ project.description }}</p>
            </span>
            </a>
        </div>
    </div>
    {% else %}

    <div class="project ">
        <div class="thumbnail">
            <a href="{{ site.baseurl }}{{ project.url }}">
                {% if project.thumbnailimg %}
                <img class="thumbnail" src="{{ project.thumbnailimg }}"/>
                {% elif project.img %}
                <img class="thumbnail" src="{{ project.img }}"/>
                {% else %}
                <div class="thumbnail blankbox"></div>
                {% endif %}
                <span>
                <h1>{{ project.title }}</h1>
                <br/>
                <p>{{ project.date }}</p>

                <p>{{ project.description }}</p>
            </span>
            </a>
        </div>
    </div>

        {% endif %}

        {% endfor %}
{% endblock %}
