{% extends "base.html" %}
{% block content %}

    <h2> Paintings </h2>

    {% for page in pages %}
        {% if page.tags %}
            {% for tag in page.tags %}
                {% if "painting" in tag.name %}
                    <div class="painting-gallery ">
                        <div class="one-painting">
                            <a href="{{ page.url }}">
                                {% if page.img %}
                                <img src="{{ page.img }}"/>
                                {% endif %}
                                <span>
                                    <p class="painting-title">{{ page.title }}</p>
                                    <p class="painting.date">{{ page.date }}</p>
                                    <p class="painting.medium">{{ page.description }}</p>
                                </span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
