{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block content %}
<h1>{{ page.title }}</h1>
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(page) }}

{{ page.content }}

{% if page.modified %}
<p>
    Last updated: {{ page.locale_modified }}
</p>
{% endif %}
{% endblock %}


<article class="quote" itemscope itemtype="http://pending.schema.org/Quotation">

    <header class="post-header">
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    </header>

    <div class="quote-body" itemprop="articleBody">
        {{ content }}
    </div>

    <div class="quote-source" itemprop="author">
        {% if page.author %} <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} •
        {% if page.source %} <span itemprop="source" itemscope itemtype="http://pending.schema.org/Quotation"><span itemprop="isBasedOnUrl"><a href="{{ page.source }}">{{ page.sourcetext }}</a></span></span> {% endif %}
    </div>

</article>