{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block content %}

<div class="quote" itemprop="articleBody">
    {{ article.content }}
</div>

<div class="quote-source" itemprop="author">
    {% if article.author %} <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ article.author }}</span></span>{% endif %} •
    {% if article.source %} <span itemprop="source" itemscope itemtype="http://pending.schema.org/Quotation"><span itemprop="isBasedOnUrl"><a href="{{ article.source }}">{{ article.sourcetext }}</a></span></span> {% endif %}
</div>

{% if article.modified %}
<p>
    Last updated: {{ article.locale_modified }}
</p>
{% endif %}
{% endblock %}
