{% extends "base.html" %}
{% block sectionTitle %}
<h1 class="entry-title">: Tech</h1>
{% endblock %}

{% block content %}
    {% for page in pages|sort(attribute='date', reverse=True) %}
        {% if page.tags %}
            {% for tag in page.tags %}
                {% if "tech" in tag.name %}
                    {% if page.redirect %}
                    <div class="project">
                        <a href="{{ page.redirect }}" target="_blank">
                            <h2>{{ page.title }}</h2>
                            {% if page.img %}
                            <img class="thumbnail" src="{{ page.img }}"/>
                            {% else %}
                            <div class="thumbnail blankbox"></div>
                            {% endif %}
                            <span>
                            <p>{{ page.description }}</p>
                        </span>
                        </a>
                    <div class="divider-line"></div>
                    </div>
                    {% else %}
                    <div class="project ">
                        <a href="{{ page.url }}">
                            <h2>{{ page.title }}</h2>
                            {% if page.img %}
                            <img class="thumbnail" src="{{ page.img }}"/>
                            {% else %}
                            <div class="thumbnail blankbox"></div>
                            {% endif %}
                            <span>
                            <p>{{ page.description }}</p>
                        </span>
                        </a>
                        <div class="divider-line"></div>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
