{% extends "base.html" %}
{% block sectionTitle %}
: Tech
{% endblock %}

{% block content %}
    {% for page in pages|sort(attribute='date', reverse=True) %}
        {% if page.tags %}
            {% for tag in page.tags %}
                {% if "tech" in tag.name %}
                    <div class="tech-block">
                        <div class="logo-wrapper">
                            <img class="thumbnail" src="{{ page.img }}"/>
                        </div>
                        <div class="tech-project">
                            <a href="{{ page.url }}">
                                <h2>{{ page.title }}</h2>
                            </a>
                            <footer>{{ page.description }}</footer>
                        </div>
                    </div>
                    <div class="divider-line"></div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
