<<<<<<< HEAD
<h1>ermahgerd iz erb!!</h1>
=======
<h1>Hello rails</h1>

<%= link_to 'My Blog', controller: 'articles' %>

<p>Find me in app/views/welcome/index.html.erb</p>
>>>>>>> 5ded200b0804c19e0f189503805afadd2104f0e1
