---
layout: default
---
{% include base.html %}

<article class="painting" itemscope itemtype="http://pending.schema.org/Painting">

    <div class=painting-img>
        <img src="{{ base }}{{ page.image }}">
    </div>

    <header class="post-meta">
        {% if page.medium %} <span itemprop="material"><span>{{ page.medium }}</span></span>{% endif %} • <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated">{{ page.date | date: "%b %-d, %Y" }}</time>
    </header>
    {{ content }}
</article>
