@import "variables.sass"

body
  padding: 1.3em
  font-family: $mainFont
  font-size: 100%

section#content
  max-width: $contentMaxWidth

nav#top-nav
  font-family: $headingFont
  font-size: $mainFontSize*1.2
  margin-top: 80px
  min-width: 120px
  > ul
    list-style: none
    text-align: right
    padding: 0
    text-transform: lowercase
    li
      margin-top: 10px
      margin-bottom: 10px

ul.painting-info
  list-style: none
  font-family: $headingFont
  >li
    margin-left: 0
    margin-bottom: $blockMargin/4



#content
  p, ul, ol
    margin-bottom: $blockMargin
    color: $mainColor
    font-family: $mainFont


.entry-content
  li
    margin-left: $mainFontSize
    margin-bottom: $blockMargin/2


#content
  .entry-content
    font-size: $mainFontSize

#post-list
  li
    margin: 0px

article.hentry
  .divider-line
    margin: $blockMargin*2 0 $blockMargin*2 0

a
  text-decoration: none
  color: $linkColor
  &:hover
    color: $linkColorHover

pre
  margin-bottom: $blockMargin/2
  overflow: auto
  padding: $blockMargin/3 $blockMargin/2 $blockMargin/3 $blockMargin/2
  line-height: 1.3em

h1, h2, h3, h4
  color: $headingColor
  font-family: $headingFont
  font-weight: $headingFontWeight
  line-height: $headingLineHeight
  margin: $headingMargin/2

h1
  font-size: $heading1Size
  text-transform: $heading1TextTransform
  letter-spacing: $heading1Spacing
  margin: $headingMargin

h2
  font-size: $heading2Size
  text-transform: $headingTextTransform
  margin: $blockMargin/2 0 $blockMargin/2 0

h3
  font-size: $heading3Size
  text-transform: $headingTextTransform
  margin: $blockMargin/2 0 $blockMargin/2 0


h4
  font-size: $heading4Size
  text-transform: $headingTextTransform

.quote
  margin: 0 auto
  margin-top: 0.5em
  font-family: "Merriweather", serif
  color: #312d2d
  font-style: italic
  font-size: 1.3em

img.thumbnail
  max-width: 300px
  max-height: 200px

.painting-gallery
  .one-painting
    a
      img
        //width: 100%
        //height: 100%
        max-width: 700px
        max-height: 700px

.divider-line
  border-bottom: 1px solid $dividerLineColor
  margin: 30px auto
  //width: 80%

footer.post-info
  color: $metadataFontColor
  font-family: $headingFont
  font-size: $metadataFontSize
  font-style: $metadataFontStyle
  margin: $blockMargin/4 0 $blockMargin/2 0


section#content
  ol#post-list
    list-style-type: none

/* Mobile first, relying on source ordering

.flexcontainer
  display: flex

header#banner
  display: flex

.main
  display: flex


.subdirectory
  width: 90px
  ol
    list-style: none

footer#page-footer
  margin: $blockMargin 0 $blockMargin 0
  background-color: inherit


/* Smaller screens
@media screen and (max-width: 799px)
  h1
    font-size: $heading1Size*0.7
    font-spacing: 0px
  .flexcontainer
    flex-direction: column
  nav#top-nav
    //height: 100px
    order: 4
    //width: 84%
    margin-top: 0px
    border-top: 1px solid $dividerLineColor
    ul
      margin: 20px 0 20px 0
    li
      display: flex
      flex-wrap: wrap
      margin: 0px

/* Larger screens
@media screen and (min-width: 800px)
  .flexcontainer
    flex-direction: row
  header#banner
    flex: 3 0px
  .main
    flex: 1
  .nav#top-nav
    order: 1
  div#content-wrapper
    order: 2
  footer
    order: 3