@import "variables.sass"

body
  font-family: $mainFont

#content-wrapper
  max-width: 1000px

nav#top-nav
  font-family: $headingFont
  font-size: $mainFontSize*1.2
  margin-top: $blockMargin/2
  min-width: 120px
  > ul
    list-style: none
    text-align: right
    padding: 0
    text-transform: lowercase
    li
      margin-top: 10px
      margin-bottom: 10px

ul.painting-info
  list-style: none
  font-family: $headingFont
  >li
    margin-left: 0
    margin-bottom: $blockMargin/4

#content
  p, ul, ol
    margin-bottom: $blockMargin

.entry-content
  li
    margin-left: $mainFontSize
    margin-bottom: $blockMargin/2

#content
  .entry-content
    font-size: $mainFontSize
    line-height: $mainFontSize + 0.4em
    font-weight: 200
    letter-spacing: -0.04em

div p:first-of-type:first-letter
  font-size: $mainFontSize * 2.4
  color: $mainColor
  float: left
  margin: 0.18em .1em 0 0

#post-list
  li
    margin: 0

article.hentry
  .divider-line
    margin: $blockMargin*2 0 $blockMargin*2 0

a
  text-decoration: none
  color: $linkColor
  &:hover
    color: $linkColorHover

pre
  margin-bottom: $blockMargin/2
  overflow: auto
  padding: $blockMargin/3 $blockMargin/2 $blockMargin/3 $blockMargin/2
  line-height: 1.3em

h1, h2, h3, h4
  color: $headingColor
  font-family: $headingFont
  font-weight: $headingFontWeight
  line-height: $headingLineHeight
  margin: $headingMargin/2

h1
  font-size: $heading1Size
  text-transform: $heading1TextTransform
  letter-spacing: $heading1Spacing
  margin: $headingMargin

h2
  font-size: $heading2Size
  text-transform: $headingTextTransform
  margin: $blockMargin/2 0 $blockMargin/2 0

h3
  font-size: $heading3Size
  text-transform: $headingTextTransform
  margin: $blockMargin/2 0 $blockMargin/2 0

h4
  font-size: $heading4Size
  text-transform: $headingTextTransform

.quote
  font-family: $quoteFont
  color: $quoteFontColor
  line-height: $mainFontSize + 0.2em
  font-style: italic
  font-size: 1.3em
  >p
    font-family: $quoteFont

.tech-block
  width: 100%
  height: 120px

.logo-wrapper
  width: 200px
  height: 120px
  alignment: left
  display: inline-block
  float: left

img.thumbnail, img.article-thumbnail
  max-width: 200px
  max-height: 120px
  //height: 100%
  margin: auto 0 auto 0
  vertical-align: center

//display: block

.next-to-pic
  display: inline-block
  alignment: right
  height: 100px

.divider-line
  border-bottom: 1px solid $dividerLineColor
  margin: 30px auto
  //width: 80%

footer.post-info
  color: $metadataFontColor
  font-family: $headingFont
  font-size: $metadataFontSize
  font-style: $metadataFontStyle
  margin: $blockMargin/4 0 $blockMargin/2 0

section#content
  ol#post-list
    list-style-type: none

/* Mobile first, relying on source ordering

.flexcontainer
  display: flex

header#banner
  display: flex

.main
  display: flex


.subdirectory
  width: $blockMargin*2
  ol
    list-style: none

footer#page-footer
  margin: $blockMargin 0 $blockMargin 0
  background-color: inherit
