// Background of the presentation
$backgroundColor: #ffffff

// Primary/body text
//$mainFont: cardo, georgia, serif
$mainFont: helvetica, arial, geneva, sans-serif
$mainFontSize: 1.1em
$mainColor: #343434
$mainTopBottomMargin: 0.8em


// Vertical spacing between blocks of text
$blockMargin: 20px
$contentMaxWidth: 900px


// Headings
$headingMargin: 0 0 $blockMargin*0.7 0
$headingFont: helvetica, arial, geneva, sans-serif
$headingColor: #222222
$headingLineHeight: 1.2
$headingLetterSpacing: normal
$headingTextShadow: none
$headingFontWeight: normal
$headingTextTransform: none

$heading1Size: 6.25em
$heading1TextShadow: $headingTextShadow
$heading1Spacing: -6px
$heading1TextTransform: lowercase


$heading2Size: 2.11em
$heading3Size: 1.55em
$heading4Size: 1.00em



// Links and actions
// this is a pretty link color, but I don't think it goes: #13DAEC
$linkColor: #333333
$linkColorHover: lighten( $linkColor, 30% )

// Text selection
$selectionBackgroundColor: #FF5E99
$selectionColor: #fff

// BLOG - METADATA
$metadataFontColor: #787878
$metadataFontSize: 0.8em
$metadataFontStyle: italic

// MISC
$dividerLineColor: #bcbcbc

// QUOTES
$quoteFont: "Merriweather", serif
$quoteFontColor: $mainColor
$quoteFontStyle: italic

// BLOCK SIZES






//
//
//
//
//
//
//
//''
//
//$divider-line-color: #000000
//
//// TEXT IN GENERAL
//$body-font-family: cardo, georgia, serif
//
//
//// HEADERS
//$header-font-family: helvetica, arial, geneva, sans-serif
//$header-color: #000000
//$header-hover-color: lighten($header-color, 0.3)
//
//// BLOG
//
//
//
//// BLOG - METADATA
//$post-metadata-font-color: #565656
//$metadata-color: #565656
//$post-metadata-font-size: 0.75em
//$post-metadata-font-style: italic